<div class="banner">
  <h1>Make your own movie playlists</h1>
  <h2><%= link_to "New playlist", new_list_path, class: "btn btn-primary"%></h2>
</div>


<div class="cards">
  <% @lists.each do |list| %>

    <div class="card">
      <div class="card_img">
        <%= link_to image_tag(list.photo), list_path(list) %>
      </div>
<!--           <img src="<%= (url_for(list.photo)) %>">
-->      <h2><strong><%= list.name.upcase %></strong></h2>

<!--         <div class="card_text">
          <%= link_to "Delete", list_path(list),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
        </div> -->
    </div>
  <% end %>
</div>

