<h1><%= @list.name.upcase %> playlist</h1>

<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>

<ul>
  <% @list.bookmarks.each do |bookmark| %>

    <p><strong><%= bookmark.movie.title %></strong><p>

    Overview : <%= bookmark.movie.overview %><br>

    Rating : <%= bookmark.movie.rating %>/10<br>

    Comment : <%= bookmark.comment %><br>

    <%= link_to "See the Cover", bookmark.movie.poster_url,:target => "_blank"%><br><br>

    <%= link_to "Delete", bookmark_path(bookmark),
            method: :delete,
            data: { confirm: "Are you sure?" },
            color: $red%>
  <% end %>
<br>
<br>
  <%= link_to "Add a bookmark to this list", new_list_bookmark_path(@list), class: "btn btn-primary"%>
  <%= link_to "Back to playlists", root_path, class: "btn btn-warning" %><br>
</ul>




